.lapiz{
    width: 3%;

}

.equis{
    width: 3%;

}

.fila{
    margin-left: 8%;
    margin-top: 5%;
}

.nombre,.dni,.apellidos{
    margin-left: 2%;
    float: left;
}

#suma{
    float: right;
    margin-top: 6%;
    width: 10%;
    margin-right: 10%;
}